{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="card"><img class="responsive"
     src="https://images.unsplash.com/photo-1600267165477-6d4cbe40f46b"
     alt="Handwritten Signature">

        <h2>About This Project</h2>
        <p>
            This project is a Final Year Engineering Major Project that
            implements an AI-based handwritten signature verification system.
            It uses the CEDAR Signature Dataset and Machine Learning algorithms
            to detect forged signatures.
        </p>
        <p>
            The system is designed for academic authentication, examination
            verification, and fraud prevention.
        </p>
    </div>
</div>

{% endblock %}
